* {
    box-sizing: border-box;
    /* margin: 0; */
}

main h1 {
    border: 2px dashed rgb(114, 14, 180);
    border-radius: 25px;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

main section article p {
    border: 2px solid rgb(234, 11, 11);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
}

main section article h2 {
    border: 2px inset rgb(114, 14, 180);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(114, 14, 180);
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

main section article ol {

    border: 2px solid rgba(249, 158, 0, 0.992);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

/* Unterstrichen Befehl wird mit Border gemacht direkt in der Liste */
main section article ol li {
    border-bottom: 2px solid rgb(236, 0, 248);
    margin-right: 25px;
}

main section article h3 {
    border: 7px double rgb(114, 14, 180);
    border-radius: 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
}

main section article ul {
    border: 2px solid rgba(249, 158, 0, 0.992);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

/* Unterstrichen Befehl wird mit Border gemacht direkt in der Liste */
main section article ul li {
    border-bottom: 2px solid rgb(236, 0, 248);
    margin-right: 25px;
}